<div>
	<section>
		<div class="jumbotron">
			<div class="container text-center">
				<h1>{{$t('message.jumbotronTitle')}}</h1>
				<p>{{$t('message.jumbotronSubtitle')}}</p>
				<p>
					<router-link class="btn btn-success btn-lg" role="button" to="/signup">{{$t('ui.button.btnStarted')}}</router-link>
				</p>
			</div>
		</div>
	</section>
	<section class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum accumsan lorem in aliquam. Vestibulum ante ipsum primis
			in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus orci orci, cursus vulputate hendrerit eu, dapibus eu
			nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam placerat dapibus
			tempor. Suspendisse nec mi at erat tincidunt mattis ut nec lacus. Praesent non nisl sed libero convallis tincidunt. Curabitur
			commodo aliquam vestibulum. Etiam rutrum risus quam, eget faucibus diam ornare in.</p>

		<p>Morbi sollicitudin enim a rhoncus varius. Sed a lacus eu diam dapibus pellentesque sit amet at sem. Sed scelerisque pretium
			metus, sed mollis sem molestie eu. Suspendisse iaculis non erat ac consectetur. Phasellus placerat, eros ornare dictum
			efficitur, mauris dui varius risus, ac dignissim erat dolor lobortis augue. Praesent lectus augue, dignissim et sagittis
			in, convallis id nisl. Morbi interdum neque nec massa facilisis, ut rutrum justo semper. Phasellus fringilla auctor blandit.
			Maecenas nibh mi, cursus sed velit id, sodales semper sapien. Curabitur vitae nisl porta, tempus neque vitae, finibus
			nulla. Nam condimentum elit vel enim commodo, a tincidunt ante ornare. Duis libero sem, ultricies eu neque id, dapibus
			accumsan lectus.
		</p>

		<p>Nam auctor urna at sapien porttitor lobortis. Morbi tincidunt vulputate posuere. Sed risus enim, vulputate pretium ultrices
			non, venenatis sed mauris. Nunc placerat metus ut odio varius aliquet. Proin diam lacus, congue in consequat eu, sagittis
			eget magna. Quisque eget diam tincidunt, laoreet ipsum nec, lobortis odio. Praesent non neque convallis, gravida nulla
			a, rutrum tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

	</section>
</div>