<div class="container">
	<div class="page-header">
		<h1>Restablecer su contraseña de ComVive</h1>
	</div>

	<p>Envíe su dirección de correo electrónico o su usuario y le reenviaremos un enlace para restablecer su contraseña.</p>

	<div class="row">
		<div class="col-md-6">
			<fieldset class="form-group">
				<input type="text" name="user" class="form-control" placeholder="Email (o nombre de usuario)">
			</fieldset>
			<fieldset class="form-group">
				<button type="button" class="btn btn-primary btn-xs-block">Enviar email de restablecimiento</button>
			</fieldset>
		</div>
	</div>
</div>