<div class="container">
    <div class="page-header">
        <h1>Users <small>(before signin)</small></h1>
    </div>
    <div v-if="users">
	  <pre>
      {{ users }}
      </pre>      
    </div>
</div>