<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{$t('ui.language')}} <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li v-for="lang in langs"><a href="#" @click="changeLanguage(lang)">{{ $t(`language.${lang}`) }} <i v-if="$locale.current() === lang" class="fa fa-check fa-fw fa-pull-right"></i></a></li>
</ul>
</li>