<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<h3 class="text-center login-title">Iniciar sesión en ComVive</h3>
			<div class="alert alert-danger" v-if="error">{{error}}</div>
			<div class="account-wall">
				<img class="profile-img" src="~assets/images/avatar.png" alt="Avatar">
				<div class="form-signin">
					<input type="text" name="user" class="form-control" placeholder="Email (o nombre de usuario)" @keyup.enter="checkSubmit" v-model="credentials.user" required>
					<input type="password" name="password" class="form-control" placeholder="Contraseña" required @keyup.enter="checkSubmit" v-model="credentials.password" required>
					<button type="button" class="btn btn-lg btn-primary btn-block" :disabled="checkCredetials" @click="submit">Iniciar sesión</button>
				</div>
			</div>
			<div class="login-extra-item"><span>¿Olvidó su contraseña?</span> <router-link to="/forgot">Restablézcala.</router-link></div>
			<div class="login-extra-item"><span>¿Aún no tiene una cuenta?</span> <router-link to="/signup">Cree una ahora.</router-link></div>
		</div>
	</div>
</div>