<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<router-link to="/" class="navbar-brand">
				<img alt="Brand" src="~assets/images/logo.png" height="20">
			</router-link>
			<router-link to="/" class="navbar-brand">ComVive</router-link>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<router-link tag="li" to="/users" v-if="user.authenticated">
					<a>{{$t('ui.navbar.users')}}</a>
				</router-link>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<select-language></select-language>
				<router-link tag="li" to="/signin" v-if="!user.authenticated">
					<a>{{$t('ui.navbar.login')}}</a>
				</router-link>
				<li class="dropdown" v-if="user.authenticated">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><router-link to="/account" v-if="user.authenticated">{{$t('ui.navbar.myComvive')}}</router-link></li>
						<li role="separator" class="divider"></li>
						<li><router-link to="/me" v-if="user.authenticated">{{$t('ui.navbar.profile')}}</router-link></li>
						<li><a href="#">{{$t('ui.navbar.changeEmail')}}</a></li>
						<li><a href="#">{{$t('ui.navbar.changePassword')}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" @click="logout()">{{$t('ui.navbar.logout')}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>